[core]
        ignorecase = false
        editor = vim
        pager = cat
        quotepath = false
[credential]
        helper = osxkeychain
[ghq]
        root = ~/src
[init]
        defaultBranch = main
[include]
        path = ~/.gitconfig.local
