[user]
	name = ysk1031
	email = yusukeaono.1031@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	precomposeunicode = true
	quotepath = false
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/Yusuke/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
[ghq]
	root = ~/src
[credential]
	helper = osxkeychain
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/Yusuke/.stCommitMsg
