'exception-reporting':
  'userId': '1c60a03a-1e5a-6d3f-4d1f-c83a021bbcc6'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '44043369026e5b1f7c910cb6aa215e052ea4289e'
'editor':
  'fontFamily': 'ricty'
  'lineHeight': 1.2
  'showIndentGuide': true
  'softWrap': true
  'fontSize': 20
'core':
  'audioBeep': false
  'disabledPackages': [
    'autoflow'
    'bookmarks'
    'feedback'
    'metrics'
    'tree-view'
    'archive-view'
    'autosave'
    'background-tips'
    'dev-live-reload'
    'grammar-selector'
    'image-view'
    'link'
    'open-on-github'
    'package-generator'
    'release-notes'
    'styleguide'
    'welcome'
    'linter-scss-lint'
    'deprecation-cop'
    'keybinding-resolver'
  ]
  'projectHome': '/Users/Aono/work/'
  'themes': [
    'atom-dark-ui'
    'base16-tomorrow-dark-theme'
  ]
'linter-rubocop':
  'rubocopExecutablePath': '/Users/Aono/.rbenv/shims/'
'linter-scss-lint':
  'scssLintExecutablePath': '/Users/Aono/.rbenv/shims/'
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'linter':
  'showHightlighting': false
  'showStatusBarWhenCursorIsInErrorRange': true
  'lintOnChange': false
